<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}">
    <title>Account Console</title>
</head>
<body class="container">

<div th:replace="~{fragments::navbar2(current=index)}"></div>

<script defer>
    async function greetme() {

        let response = await fetch("/webapp/api/greetings/me", {credentials: 'include'});
        let payload = await response.json();

        console.log(payload);

        document.querySelector("#message").innerText = payload.message;
    }

    async function greetmeU2() {

        let response = await fetch("/webapp/api/greetings/me/u2", {credentials: 'include'});
        let payload = await response.json();

        console.log(payload);

        document.querySelector("#message").innerText = payload.message;
    }

    async function greetmeU3() {

        let response = await fetch("/webapp/api/greetings/me/u3", {credentials: 'include'});
        let payload = await response.json();

        console.log(payload);

        document.querySelector("#message").innerText = payload.message;
    }


</script>

<div class="jumbotron">

    <div>
        <h2>用户角色列表</h2>
        <ol>
            <li th:each="roleName, iterator: ${roleNames}" th:text="${roleName}">Role</li>
        </ol>
    </div>

    <div>
        <h2>调用后端API</h2>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" onclick="greetme()">API资源</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" onclick="greetmeU2()">拥有角色《*u2-role》才可以调用</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" onclick="greetmeU3()">拥有角色《*u3-role》才可以调用</a>
        </p>
    </div>

    <p id="message" class=".alert-success">

    </p>
</div>

</body>
</html>
